{% extends base.html %}

{% block content %}
    {% for post in object_list %}
        <div class="post-entry">
            <h4> {{ post.label }} </h4>
            <h2>Автор: {{ post.user }}</h2>
            <h2> {{ post.short_description }} </h2>
            <h1><a href ="{% url 'post_detailed' id=object.id %}">открыть полностью</a></h1>

    {% empty %}
    <p>Нет постов</p>
    {% endfor %}
        </div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; 1</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая страница</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следующая страница</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя страница &raquo;</a>
        {% endif %}
    </span>
</div>